/*UNIVERSAL*/
@font-face {
	font-family: "Myriad Set Pro";
	font-style: normal;
	src: url(../fonts/myriad-set-pro_thin.ttf);
}

* {
	font-family: "Myriad Set Pro";
	color: rgba(255,255,255,0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

	*:focus {
		outline: none;
	}

body {
	text-align: center;
	margin: 0;
	background-color: #222;
}

a {
	text-decoration: none;
}

span.normalFontColor {
	color: rgba(255,255,255,0.5);
}

span.colorFont {
	color: #42999e;
}

sup {
	font-size: 10;
}

/*ALL INPUTS*/
input, select {
	border-style: solid;
	border-width: 1px;
	border-color: #4f4f4f;
	box-sizing: content-box;
	background-color: #3d3d3d;
}
	input[type="button"] {
		box-sizing: border-box;
	}

input[type="text"]:focus, select:focus {
	background-color: #333;
	outline: none;
	box-shadow: inset 0px -2px 0px 0px #42999e;
	color: #eee;
}
	/*execept file inputs*/
	#fileinput {
		border: none;
		padding: 6px 12px 6px 0px;
		background: none;
	}

	#fileinput:focus {
		box-shadow: none;
		outline: none;
	}

/*BUTTON STUFF*/
button, input[type="button"] {
	background-color: rgba(0,0,0,0.0);
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border: 1px solid #444;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	height: 22px;
	overflow: hidden;
	padding: 5px 15px;
	font-size: 14;
	height: 30px;
}
button:hover, input[type="button"]:hover {
	background-color: #444;
	color: #eee;
}

/*INPUT + SELECT STUFF*/
input[type=text], select {
	padding: 5px;
	font-size: 14;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*border-radius: 4px;*/
}

/*CHECKBOX STUFF*/
input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #444;
	border: 1px solid #555;
	border-radius: 2px;
	margin: 0px 10px 0px 10px;
	padding: 8px;
	display: inline-block;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

input[type=checkbox]:checked {
	color: #ddd;
	background-color: #999;
	border-color: #aaa;
}

input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -2px;
	left: 3px;
	color: #444;
}

/*SCROLLBAR STUFF*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #42999e;
}
::-webkit-scrollbar-thumb:active {
  background: #42999e;
}
::-webkit-scrollbar-track {
  background: #333;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
}
::-webkit-scrollbar-track:active {
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*INSTRUCTION OVERLAY*/
#instructionOverlay {
	position: absolute;
    width: 100%;
    min-width: 1280px; 
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    z-index: 2;
    overflow: hidden;
}
	.hidden {
		display: none;
	}

	#instructionBox {
		position: absolute;
	    width: 50%;
	    max-width: 800px;
	    background-color: #333;
	    opacity: 0.9;
	    z-index: 3;
	    overflow: hidden;
	    left: 50%;
	    top: -20%;
	    transform: translate(-50%, -50%);
	    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.1);
	    padding: 20px;
	}

		#instructionTitle, #hotkeyTable, #hotkeyTableAsterisk, #externalHelp {
			padding: 10px 0px;
		}

		#closeInstructions {
			position: absolute;
			width: 32px;
			height: 32px;
			font-size: 16pt;
			padding: 0;
			/*account for padding on #instructionBox*/
			right: 20px;
			color: #999;
			vertical-align: middle;
    		line-height: 28px;
		}

			#closeInstructions:hover {
				color: #eee;
			}

		#instructionTitle {
			height: 40px;
			font-size: 16pt;
		}

		#hotkeyTable {
			width: 100%;
			border-spacing: 0px;
		}
			/* diff bg color first row*/
			#hotkeyTable tr#hotkeyTableRow1 {
				background-color: #555;
			}
				#hotkeyTable tr#hotkeyTableRow1 td {
					color: #eee;
				}
			/* diff bg color every other row*/
			#hotkeyTable tr:nth-child(odd) {
				background-color: #3d3d3d;
			}

			/* auto formatting for new hotkey*/
			#hotkeyTable tr.newHotkey td:first-child:before {
				content: "NEW";
				color: #eee;
				font-size: 12;
				background-color: #555;
				padding: 4px 10px;
				margin-right: 4px;
				width: 100px;
			}

			#hotkeyTable tr.newHotkey.update td:first-child:before {
				content: "UPDATED";
			}

			#hotkeyTable td {
				height: 40px;
				padding: 5px;
			}

			#hotkeyTable td:nth-child(2) {
				font-weight: bold;
				color: #42999e;
			}

		#hotkeyTableAsterisk {
			font-size: 10pt;
			text-align: left;
		}

		button.instructionButton {
			border-color: #555;
		}

		button.instructionButton:hover {
			background-color: #555;
			color: #eee;
		}		

/*STUFF AT TOP*/
#topWrapper {
	height: 128px;
	min-width: 1280px;
	background-color: #333;
	/*box-shadow: 0px 10px 40px rgba(0,0,0,0.1);*/
	overflow: hidden;
	font-size: 14;
}

	/* TITLE */
	.titleWrapper{
		margin: 0 0 0 0;
		color: #42999e;
		font-size: 36;
		opacity:1;
		height: 100%;
		width: 384px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		float: left;
		border-right: 1px solid #444;
		padding: 8px;
	}
		#icon {
			display: inline-block;
			height: 100%;
			float: left;
			cursor: pointer;
		}

		#icon:hover {
			-webkit-filter: grayscale(0.5) opacity(0.5);
		}

		#titleTextWrapper {
			display: inline-block;
			margin: 16px 0px;
		}

			.title{
				color: #42999e;
				font-size: 20pt;
				padding: 10px;
			}

			.titleSmall {
				font-size: 14pt;
				padding: 5px 10px;
			}


	/* CANVAS PARAMS */
	.canvasParam {
		display: inline-block;
		width: calc(100% - 30% - 384px);
		height: 100%;
		vertical-align: top;
		float: left;
		border-right: 1px solid #444;
		padding: 8px;
	}

	#canvasParamB, #canvasParamC {
		display: none;
	}

		.block {
			display: inline-block;
			*display: inline-block;
			height: 100%;
			width: 50%;
			max-width: 280px;
			vertical-align: top;
			float: left;
		}

		.block > div {
			margin: 16px 0px;
			height: 32px;
		}

			.block > div > input, select {
				margin: 0px 8px;
			}

			.worldInput {
				width: 40px;
				text-align: center;
			}

			#drawing-mode, #snapToGrid {
				width: 150px;
			}

			#drawing-mode-selector, #levelTypeSelect {
				width: 100px;
			}

			.drawing-mode-on, .snapEnabled {
				background-color: #444;
				border-color: #444;
				color: #eee;
				font-weight: bold;
			}

			.drawing-mode-on:hover, .snapEnabled:hover {
				background-color: #666;
				border-color: #666;
			}

		#hideTools {
			position: relative;
			height: 100%;
			overflow: auto;
			text-align: left;
		}

			.toggleVisibility {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

		#hideTools .toggleVisibility > div {
			display: inline-block;
			width: 25%;
			padding: 2px 0px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

	/* SAVING AND LOADING STUFF */

	#fileToolbar{
		width: 30%;
		height: 100%;
		display: inline-block;
		float: right;
		padding: 8px;
	}

		.fileToolbarBlock{
			width: 100%;
			height: 50%;
			height: 32px;
			margin: 16px 0px;
		}

			#fileinput, #levelName {
				width: 50%;
				max-width: 240px;
				margin-right: 8px;
			}

			.fileToolbarSymbolWrapper {
				display: inline-block;
			    margin-left: 8px;
			    height: 100%;
			    width: 32px;
			    vertical-align: top;
			}

				.fileToolbarSymbolWrapper.loading {
					background: url(../img/progress.gif);
					background-size: 100% 100%;
				}

				.fileToolbarSymbolWrapper.done {
					background: url(../img/done.png);
					background-size: 100% 100%;
				}

			#save {
				background: none;
			}


/*MAIN BODY*/
.wrapper {
	width: 100%;
	min-width: 1280px;
	height: calc(100% - 128px);
	/*padding-top: 30px;*/
	display: inline-block;
	*display: inline-block;
	position: absolute;
	left: 0;
	overflow: hidden;
	background-color: #222;
}
	/*ZOOM*/
	#zoomWrapper {
		position: absolute;
	    left: 0;
	    width: 384px;
	    height: 32px;
	    background-color: #333;
	    /*box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.1);*/
	    border-bottom: 1px solid #444;
	    border-right: 1px solid #444;
	    z-index: 1;
	    font-size: 10pt;
    	/* line height needs to match height of div*/
		line-height: 32px;
		vertical-align: middle;
	}

		#zoomTitle {
			display: inline-block;
			float: left;
			width: 64px;
			height: 100%;
		}

		#sliderWrapper {
			display: inline-block;
			float: left;
			width: calc(100% - 64px);
			height: 100%;
			position: relative;
		}

			#slider {
				display: inline-block;
				width: 90%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: #3d3d3d;
				border: 1px solid #444;
			}

			.ui-slider-handle.ui-state-default {
				background: #444;
				border: 1px solid #555;
			}

				.ui-slider-handle.ui-state-default.ui-state-active {
					background: #666;
					border: 1px solid #555;
				}

		#tabGroup {
			position: absolute;
			left: calc(384px);
			top: 128px;
			width: 192px;
			height: 32px;
			line-height: 32px;
			vertical-align: middle;
			z-index: 1;
		}

			.tab {
				display: inline-block;
				float: left;
				position: relative;
				width: 64px;
				height: 100%;
				cursor: pointer;
				border-top: 1px solid #444;
				border-bottom: 1px solid #444;
				border-right: 1px solid #444;
				background-color: #2f2f2f;
			}

				.tab.active {
					background-color: #333;
					border-top: none;
					color: #eee;
					font-weight: bold;
				}

			.tab:hover {
				background-color: #444;
			}

				.tab.active:hover {
					background-color: #333;
					cursor: default;
				}

			.tabDivider {
				border-right: 1px solid #ddd;
				position: absolute;
				top: 4px;
				bottom: 4px;
				right: 0;
			}

			/* only show this div when its parent tab is active*/
			.tab.active .tabArrow, .toolTab.active .tabArrow {
				visibility: visible;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 6px 6px 6px;
				border-color: transparent transparent #42999e transparent;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
			}

			.toolTab.active .tabArrow.flip {
				top: 0;
				border-width: 6px 6px 0 6px;
				border-color: #42999e transparent transparent transparent;
			}

			.tabArrow {
				visibility: hidden;
			}


	/*CANVAS (LEFT) */
	#canvas {
		width: 100%;
		height: 100%;
		overflow: auto;
		text-align: left;
		vertical-align: top;
		display: inline-block;
		*display: inline-block;
		float: left;
		overflow: hidden;
	}

		/* OVERRIDE INLINE CSS FROM FABRICJS*/
		#myCanvas {
			border: none !important;
		}

		.upper-canvas {
			border: none !important;
		}


	/*TOOL STUFF START (RIGHT)*/
	.toolWrapper {
		vertical-align: top;
	    width: 30%;
	    height: 100%;
	    position: absolute;
	    right: 0px;
	    background-color: rgba(33,33,33,0.9);
	    /*box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.1);*/
	    -webkit-backdrop-filter: blur(20px);
	    border-left: 1px solid #444;
	}

		.toolWrapper select {
			width: 40%;
			max-width: 240px;
		}

		#toolToggler {
			height: 96px;
			width: 36px;
			position: absolute;
			left: -36px;
			line-height: 48px;
			vertical-align: middle;
			color: rgba(0,0,0,0.5);
			font-weight: bold;
			background-color: #333;
			cursor: pointer;
			/*box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.1);*/
			border-top: 1px solid #444;
			border-bottom: 1px solid #444;
			border-left: 1px solid #444;
			border-radius: 8px 0px 0px 8px;
		}

			#toolToggler:hover {
				background-color: #444;
			}

			#arrow {
				width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 10px 0px 10px 10px;
			    border-color: transparent transparent transparent #555;
			    margin: auto;
			    position: relative;
			    top: 50%;
			    transform: translateY(-50%);
			}

			#arrow.flip {
				border-width: 10px 10px 10px 0px;
        		border-color: transparent #555 transparent transparent;
			}


		#toolTabGroup {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 40px;
			border-top: 1px solid #444;
		}

			#selectIndicator {
				position: absolute;
				width: 12px;
				height: 12px;
				background-color: none;
				border: 1px solid rgba(255,255,255,0.1);
				left: 16px;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

				#selectIndicator.active {
					background-color: #42999e;
				}

			.toolTab {
				display: inline-block;
				position: relative;
				height: 100%;
				width: 49.4%;
				vertical-align: middle;
				line-height: 40px;
				font-size: 16;
				background-color: #2f2f2f;
				border-left: 1px solid #444;
				border-right: 1px solid #444;
				border-bottom: 1px solid #444;
				cursor: pointer;
			}

				.toolTab:hover {
					background-color: #444;
				}

				.toolTab.active {
					background-color: #333;
					border: none;
					cursor: default;
				}


		/*OBJECT SELECTION*/
		#tilesetWrapper, #propertiesWrapper {
			height: 100%;
		}

		#propertiesWrapper {
			display: none;
		}

			.tools, .helperTool {
				display: block;
				overflow: auto;
				height: 96px;
				background-color: #333;
				/*box-shadow: 0px 20px 30px -10px rgba(0,0,0,0.1);*/
				border-top: 1px solid #444;
				border-bottom: 1px solid #444;
			}

				.bartitle{
					font-size: 20;
					overflow: hidden;
					white-space: nowrap;
					height: 48px;
					/* subsequent 2 lines to vertically align text*/
					line-height: 48px;
					vertical-align: middle;
				}

				#toolbar, #selector {
					height: 44px;
					padding: 4px 0px;
				}

				.toolPopulate, #selectPopulate {
					height: calc(100% - 96px - 32px);
					overflow: auto;
					padding: 8px;
				}

					.selectable{
						display: inline-block;
						margin: 5px;
						width: 128px;
						height: 128px;
						vertical-align: top;
						position: relative;
						float: left;
						overflow: hidden;
					}
						.selectable:hover {
							cursor: pointer;
						}
						.selected, .selected:hover {
							outline: 2px solid #42999e;
						}

						.image{
							max-width: 128px;
							max-height: 128px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
						.selectable .overlay {
							position: absolute;
						    top: 75%;
						    left: 0;
						    width: 100%;
						    height: 25%;
						    display: none;
						    padding: 6px;
						    font-size: 14;
						    white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    color: #eee;
						}
						.selectable:hover .overlay {
							display: block;
					    	background: rgba(22,22,22,.9);
						}


		/*OBJECT PROPERTIES*/
		.editfield.small {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			height: 40px;
			float: left;
		}

			.outputFieldName {
				display: inline-block;
				vertical-align: middle;
				width: 96px;
				height: 40px;
				line-height: 40px;
				font-size: 14;
				text-align: right;
				padding: 0px 8px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.outputFieldName-cutscenes{
				display: inline-block;
				vertical-align: middle;
				width: 192px;
				height: 40px;
				line-height: 40px;
				font-size: 14;
				text-align: right;
				padding: 0px 8px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			input.outputField-cutscenes {
				display: inline-block;
				/*vertical-align: top;*/
				width: calc(100% - 192px - 12px);
				background: #292929;
				border: 1px solid #3d3d3d;
			}

			input.outputField {
				display: inline-block;
				/*vertical-align: top;*/
				width: calc(100% - 96px - 12px);
				background: #292929;
				border: 1px solid #3d3d3d;
			}

		.editfield.large {
			width: 100%;
			float: left;
		}

			.zButton{
				margin: 10px;
			}

		.editfield.large .outputFieldNameBlock {
			display: block;
			vertical-align: middle;
			line-height: 40px;
			width: 100%;
		}

				.subtitle{
					margin-top: 10px;
					margin-bottom: 15px;
					color: #42999e;
					font-size: 20;
					opacity:1;
				}

#popupMessage {
	position: absolute;
	left: 35%;
	bottom: 64px;
	transform: translateX(-50%);
	background-color: #333;
	padding: 12px 48px;
	font-size: 16;
	border-radius: 8px;
	white-space: nowrap;
	overflow: hidden;
	color: #eee;
}

	#popupMessage.fullCanvas {
		left: 50%;
	}

.toolPopulateCanvas{
	width: 100%;
}

.testing{
	color: #FFFFFF;
	opacity:1;
	transition: opacity .2s ease;
}
.testing.Hover{
	opacity:0;
}
#time_wrapper{
	color: #FFFFFF;
	font-size: 45;
}
.assist{
	display: inline-block;
}
.mainPortrait{
	height: 120px;
	width: 120px;
	display: inline-block;
}
.symbol{
	height: 31px;
	width: 33px;
	background-size: contain;
	display: inline-block;
}

/* CUTSCENE EDITOR STUFF */
#topWrapper.cutscene {
	border-bottom: 1px solid #444;
}

#cutSceneNameControl {
	width: 240px;
}

#newCutSceneName, #cutSceneSelect {
	width: 50%;
	max-width: 240px;
	margin: 0 8px 0 0;
}

#visualization {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0px 16px 64px 16px;
  background-color: #222;
}
.menu {
	width: 288px;
    margin: 0 16px;
}
	.menuItem {
		position: relative;
		display: block;
		margin: 8px 0;
		height: 32px;
		overflow: hidden;
	}
		.menuItem > input {
			float: left;
		}
		.menuItem > input[type=text] {
			margin-left: 8px;
		}
#botWrapper {
	max-width: 800px;
	background-color: #333;
}